<?xml version="1.0" encoding="UTF-8"?>
<!--
    Mango - Open Source M2M - http://mango.serotoninsoftware.com
    Copyright (C) 2006-2011 Serotonin Software Technologies Inc.
    @author Matthew Lohbihler
    
    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see http://www.gnu.org/licenses/.
-->
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
           http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-3.2.xsd
           http://www.springframework.org/schema/mvc
           http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd">
               
    <context:annotation-config/>
    <context:component-scan base-package="com.serotonin,br.org.scadabr" />
    
    <!-- Configures the annotation-driven Spring MVC Controller programming model.
    Note that, with Spring 3.0, this tag works in Servlet MVC only!  
    See Spring Reference 15.12 Configuring Spring MVC
    @ http://static.springsource.org/spring/docs/3.0.x/spring-framework-reference/html/mvc.html#mvc-annotation-driven-->
    <mvc:annotation-driven /> 
	<mvc:resources mapping="/resources/**" location="/resources/*" />
	<mvc:resources mapping="/images/**" location="/images/*" />
        <mvc:resources mapping="/soundmanager2.swf" location="/soundmanager2.swf" />
        <mvc:resources mapping="/favicon_small.ico" location="/favicon_small.ico" />
        <mvc:resources mapping="/audio/**" location="/audio/*" />
        
    
    <!-- Without the following adapter, we'll get a "Does your handler implement a supported interface like Controller?"
    This is because mvc:annotation-driven element doesn't declare a SimpleControllerHandlerAdapter
    For more info 
    See http://stackoverflow.com/questions/3896013/no-adapter-for-handler-exception 
    See http://forum.springsource.org/showthread.php?t=48372&highlight=UrlFilenameViewController -->
    <bean class="org.springframework.web.servlet.mvc.SimpleControllerHandlerAdapter" />

 <bean class="com.googlecode.jsonrpc4j.spring.AutoJsonRpcServiceExporter"/>
   
    <!-- DWR - ->
    <bean id="CompoundEventsDwr" class="com.serotonin.mango.web.dwr.CompoundEventsDwr">
        <property name="compoundEventDetectorDao" ref="compoundEventDetectorDao" />
        <property name="dataPointDao" ref="dataPointDao" />
        <property name="eventDao" ref="eventDao" />
        <property name="runtimeManager" ref="runtimeManager" />
        <property name="scheduledEventDao" ref="scheduledEventDao"/>
        <property name="userDao" ref="userDao"/>
    </bean>
    <bean id="CustomViewDwr" class="com.serotonin.mango.web.dwr.CustomViewDwr">
        <property name="dataPointDao" ref="dataPointDao" />
        <property name="eventDao" ref="eventDao" />
        <property name="runtimeManager" ref="runtimeManager" />
        <property name="userDao" ref="userDao"/>
    </bean>
    <bean id="DataPointDetailsDwr" class="com.serotonin.mango.web.dwr.DataPointDetailsDwr">
        <property name="dataPointDao" ref="dataPointDao" />
        <property name="eventDao" ref="eventDao" />
        <property name="runtimeManager" ref="runtimeManager" />
        <property name="userDao" ref="userDao"/>
    </bean>
    <bean id="DataPointEditDwr" class="com.serotonin.mango.web.dwr.DataPointEditDwr">
        <property name="dataPointDao" ref="dataPointDao" />
        <property name="eventDao" ref="eventDao" />
        <property name="runtimeManager" ref="runtimeManager" />
        <property name="userDao" ref="userDao"/>
    </bean>
    <bean id="DataSourceEditDwr" class="com.serotonin.mango.web.dwr.DataSourceEditDwr">
        <property name="dataPointDao" ref="dataPointDao" />
        <property name="eventDao" ref="eventDao" />
        <property name="runtimeManager" ref="runtimeManager" />
        <property name="userDao" ref="userDao"/>
    </bean>
    <bean id="DataSourceListDwr" class="com.serotonin.mango.web.dwr.DataSourceListDwr">
        <property name="dataPointDao" ref="dataPointDao" />
        <property name="dataSourceDao" ref="dataSourceDao" />
        <property name="eventDao" ref="eventDao" />
        <property name="runtimeManager" ref="runtimeManager" />
        <property name="userDao" ref="userDao"/>
    </bean>
    <bean id="EmportDwr" class="com.serotonin.mango.web.dwr.EmportDwr">
        <property name="dataPointDao" ref="dataPointDao" />
        <property name="dataSourceDao" ref="dataSourceDao" />
        <property name="eventDao" ref="eventDao" />
        <property name="runtimeManager" ref="runtimeManager" />
        <property name="userDao" ref="userDao"/>
    </bean>
    <bean id="EventHandlersDwr" class="com.serotonin.mango.web.dwr.EventHandlersDwr">
        <property name="compoundEventDetectorDao" ref="compoundEventDetectorDao" />
        <property name="dataPointDao" ref="dataPointDao" />
        <property name="dataSourceDao" ref="dataSourceDao" />
        <property name="eventDao" ref="eventDao" />
        <property name="mailingListDao" ref="mailingListDao" />
        <property name="maintenanceEventDao" ref="maintenanceEventDao" />
        <property name="publisherDao" ref="publisherDao" />
        <property name="runtimeManager" ref="runtimeManager" />
        <property name="scheduledEventDao" ref="scheduledEventDao" />
        <property name="userDao" ref="userDao"/>
    </bean>
    <bean id="EventsDwr" class="com.serotonin.mango.web.dwr.EventsDwr">
        <property name="dataPointDao" ref="dataPointDao" />
        <property name="eventDao" ref="eventDao" />
        <property name="runtimeManager" ref="runtimeManager" />
        <property name="userDao" ref="userDao"/>
    </bean>
    <bean id="MailingListsDwr" class="com.serotonin.mango.web.dwr.MailingListsDwr">
        <property name="dataPointDao" ref="dataPointDao" />
        <property name="eventDao" ref="eventDao" />
        <property name="mailingListDao" ref="mailingListDao" />
        <property name="runtimeManager" ref="runtimeManager" />
        <property name="userDao" ref="userDao"/>
    </bean>
    <bean id="MaintenanceEventsDwr" class="com.serotonin.mango.web.dwr.MaintenanceEventsDwr">
        <property name="dataPointDao" ref="dataPointDao" />
        <property name="dataSourceDao" ref="dataSourceDao" />
        <property name="eventDao" ref="eventDao" />
        <property name="maintenanceEventDao" ref="maintenanceEventDao" />
        <property name="runtimeManager" ref="runtimeManager" />
        <property name="userDao" ref="userDao"/>
    </bean>
    <bean id="MiscDwr" class="com.serotonin.mango.web.dwr.MiscDwr">
        <property name="customViewDwr" ref="customViewDwr" />
        <property name="dataPointDao" ref="dataPointDao" />
        <property name="dataPointDetailsDwr" ref="dataPointDetailsDwr" />
        <property name="eventDao" ref="eventDao" />
        <property name="eventManager" ref="eventManager" />
        <property name="mailingListDao" ref="mailingListDao" />
        <property name="runtimeManager" ref="runtimeManager" />
        <property name="userDao" ref="userDao"/>
        <property name="viewDwr" ref="viewDwr"/>
    </bean>
    <bean id="PointHierarchyDwr" class="com.serotonin.mango.web.dwr.PointHierarchyDwr">
        <property name="dataPointDao" ref="dataPointDao" />
    </bean>
    <bean id="PointLinksDwr" class="com.serotonin.mango.web.dwr.PointLinksDwr">
        <property name="dataPointDao" ref="dataPointDao" />
        <property name="eventDao" ref="eventDao" />
        <property name="pointLinkDao" ref="pointLinkDao" />
        <property name="runtimeManager" ref="runtimeManager" />
        <property name="userDao" ref="userDao"/>
    </bean>
    <bean id="PublisherEditDwr" class="com.serotonin.mango.web.dwr.PublisherEditDwr">
        <property name="dataPointDao" ref="dataPointDao" />
        <property name="eventDao" ref="eventDao" />
        <property name="runtimeManager" ref="runtimeManager" />
        <property name="userDao" ref="userDao"/>
    </bean>
    <bean id="PublisherListDwr" class="com.serotonin.mango.web.dwr.PublisherListDwr">
        <property name="dataPointDao" ref="dataPointDao" />
        <property name="eventDao" ref="eventDao" />
        <property name="publisherDao" ref="publisherDao" />
        <property name="runtimeManager" ref="runtimeManager" />
        <property name="userDao" ref="userDao"/>
    </bean>
    <bean id="ReportsDwr" class="com.serotonin.mango.web.dwr.ReportsDwr">
        <property name="dataPointDao" ref="dataPointDao" />
        <property name="eventDao" ref="eventDao" />
        <property name="mailingListDao" ref="mailingListDao" />
        <property name="reportDao" ref="reportDao" />
        <property name="runtimeManager" ref="runtimeManager" />
        <property name="userDao" ref="userDao"/>
        <property name="watchListDao" ref="watchListDao" />
    </bean>
    <bean id="ScheduledEventsDwr" class="com.serotonin.mango.web.dwr.ScheduledEventsDwr">
        <property name="dataPointDao" ref="dataPointDao" />
        <property name="eventDao" ref="eventDao" />
        <property name="runtimeManager" ref="runtimeManager" />
        <property name="scheduledEventDao" ref="scheduledEventDao" />
        <property name="userDao" ref="userDao"/>
    </bean>
    <bean id="SystemSettingsDwr" class="com.serotonin.mango.web.dwr.SystemSettingsDwr">
        <property name="dataPointDao" ref="dataPointDao" />
        <property name="eventDao" ref="eventDao" />
        <property name="runtimeManager" ref="runtimeManager" />
        <property name="systemSettingsDao" ref="systemSettingsDao" />
        <property name="userDao" ref="userDao"/>
    </bean>
    <bean id="UsersDwr" class="com.serotonin.mango.web.dwr.UsersDwr">
        <property name="dataPointDao" ref="dataPointDao" />
        <property name="dataSourceDao" ref="dataSourceDao" />
        <property name="eventDao" ref="eventDao" />
        <property name="runtimeManager" ref="runtimeManager" />
        <property name="userDao" ref="userDao"/>
    </bean>
    <bean id="ViewDwr" class="com.serotonin.mango.web.dwr.ViewDwr">
        <property name="dataPointDao" ref="dataPointDao" />
        <property name="eventDao" ref="eventDao" />
        <property name="flexProjectDao" ref="flexProjectDao" />
        <property name="runtimeManager" ref="runtimeManager" />
        <property name="scriptDao" ref="scriptDao" />
        <property name="userDao" ref="userDao"/>
        <property name="viewDao" ref="viewDao" />
    </bean>
    <bean id="WatchListDwr" class="com.serotonin.mango.web.dwr.WatchListDwr">
        <property name="dataPointDao" ref="dataPointDao"/>
        <property name="eventDao" ref="eventDao"/>
        <property name="runtimeManager" ref="runtimeManager" />
        <property name="userDao" ref="userDao"/>
        <property name="watchListDao" ref="watchListDao"/>
    </bean>
    <bean id="ScriptsDwr" class="br.org.scadabr.web.dwr.ScriptsDwr">
        <property name="dataPointDao" ref="dataPointDao" />
        <property name="eventDao" ref="eventDao" />
        <property name="runtimeManager" ref="runtimeManager" />
        <property name="scriptDao" ref="scriptDao" />
        <property name="userDao" ref="userDao"/>
    </bean>
  -->
    <!-- i18n TODO overhaul this to use userSessionContextBean ...  -->
    <bean id="localeResolver" class="org.springframework.web.servlet.i18n.SessionLocaleResolver"/>
  
    <bean id="messageSource" class="br.org.scadabr.web.i18n.ResourceBundleMessageSource">
        <property name="basename">
            <value>messages</value>
        </property>
    </bean>
    
</beans>
