<?xml version="1.0" encoding="UTF-8"?>
<!--
	Application context definition for PetClinic on JDBC.
-->
<beans xmlns="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
		xmlns:aop="http://www.springframework.org/schema/aop" xmlns:p="http://www.springframework.org/schema/p"
		xmlns:context="http://www.springframework.org/schema/context" xmlns:tx="http://www.springframework.org/schema/tx"
		xsi:schemaLocation="
			http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd
			http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
			http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd
			http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx.xsd">
    
	<!-- ========================= RESOURCE DEFINITIONS ========================= -->

    <!-- import the dataSource definition -->
    <import resource="applicationContext-dataSource.xml"/>

    <!-- Transaction manager for a single JDBC DataSource (alternative to JTA) -->
    <bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager"
			p:dataSource-ref="dataSource"/>
                        

	<!-- ========================= BUSINESS OBJECT DEFINITIONS ========================= -->

	<!--
		Activates various annotations to be detected in bean classes: Spring's
		@Required and @Autowired, as well as JSR 250's @PostConstruct,
		@PreDestroy and @Resource (if available) and JPA's @PersistenceContext
		and @PersistenceUnit (if available).
	-->
    <context:annotation-config/>

	<!--
		Instruct Spring to retrieve and apply @AspectJ aspects which are defined
		as beans in this context (such as the CallMonitoringAspect below).
	-->
    <aop:aspectj-autoproxy/>

	<!--
		Instruct Spring to perform automatic transaction management on annotated classes.
		The SimpleJdbcClinic implementation declares @Transactional annotations.
		"proxy-target-class" is set because of SimpleJdbcClinic's @ManagedOperation usage.
	-->

    <tx:annotation-driven mode="aspectj"/>
    
    <context:component-scan base-package="com.serotonin.mango" />
    <!--context:component-scan base-package="com.serotonin.mango.db.dao"/-->
 
  <!-- DWR -->
    <bean id="CompoundEventsDwr" class="com.serotonin.mango.web.dwr.CompoundEventsDwr"/>
    <bean id="CustomViewDwr" class="com.serotonin.mango.web.dwr.CustomViewDwr"/>
    <bean id="DataPointDetailsDwr" class="com.serotonin.mango.web.dwr.DataPointDetailsDwr"/>
    <bean id="DataPointEditDwr" class="com.serotonin.mango.web.dwr.DataPointEditDwr"/>
    <bean id="DataSourceEditDwr" class="com.serotonin.mango.web.dwr.DataSourceEditDwr"/>
    <bean id="VMStatEditDwr" class="com.serotonin.mango.web.dwr.vmstat.VMStatEditDwr"/>
    <bean id="DataSourceListDwr" class="com.serotonin.mango.web.dwr.DataSourceListDwr"/>
    <bean id="EmportDwr" class="com.serotonin.mango.web.dwr.EmportDwr"/>
    <bean id="EventHandlersDwr" class="com.serotonin.mango.web.dwr.EventHandlersDwr"/>
    <bean id="EventsDwr" class="com.serotonin.mango.web.dwr.EventsDwr"/>
    <bean id="MailingListsDwr" class="com.serotonin.mango.web.dwr.MailingListsDwr"/>
    <bean id="MaintenanceEventsDwr" class="com.serotonin.mango.web.dwr.MaintenanceEventsDwr"/>
    <bean id="MiscDwr" class="com.serotonin.mango.web.dwr.MiscDwr"/>
    <bean id="PointHierarchyDwr" class="com.serotonin.mango.web.dwr.PointHierarchyDwr"/>
    <bean id="PointLinksDwr" class="com.serotonin.mango.web.dwr.PointLinksDwr"/>
    <bean id="PublisherEditDwr" class="com.serotonin.mango.web.dwr.PublisherEditDwr"/>
    <bean id="PublisherListDwr" class="com.serotonin.mango.web.dwr.PublisherListDwr"/>
    <bean id="ReportsDwr" class="com.serotonin.mango.web.dwr.ReportsDwr"/>
    <bean id="ScheduledEventsDwr" class="com.serotonin.mango.web.dwr.ScheduledEventsDwr"/>
    <bean id="SystemSettingsDwr" class="com.serotonin.mango.web.dwr.SystemSettingsDwr"/>
    <bean id="UsersDwr" class="com.serotonin.mango.web.dwr.UsersDwr"/>
    <bean id="ViewDwr" class="com.serotonin.mango.web.dwr.ViewDwr"/>
    <bean id="WatchListDwr" class="com.serotonin.mango.web.dwr.WatchListDwr"/>
    <bean id="ScriptsDwr" class="br.org.scadabr.web.dwr.ScriptsDwr"/>
  
  <!-- i18n -->
    <bean id="localeResolver" class="org.springframework.web.servlet.i18n.SessionLocaleResolver"/>
  
    <bean id="messageSource" class="com.serotonin.web.i18n.Utf8ResourceBundleMessageSource">
        <property name="basename">
            <value>messages</value>
        </property>
    </bean>
</beans>
